MEDPLUM_BASE_URL=http://localhost:8103/
# Create a project in Medplum, then generate client credentials under Project > Client Applications
MEDPLUM_CLIENT_ID=
MEDPLUM_CLIENT_SECRET=

WEB_PORT=3001
WEB_URL=http://localhost:$WEB_PORT
VITE_API_URL=$API_URL

CORS_ORIGIN=$WEB_URL
